name: Tests

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.11", "3.12"]
      fail-fast: false

    steps:
      - uses: actions/checkout@v4
        with:
          submodules: true
      - uses: julia-actions/setup-julia@v2

      - name: Install uv and set the python version
        uses: astral-sh/setup-uv@v5
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install package
        run: |
          uv sync --all-extras --all-groups

      - name: Pytest
        run: |
          uv run python --version
          uv run pytest
